# .NET build artifacts
**/bin/
**/obj/

# Visual Studio / Rider / VS Code local settings
.vs/
.idea/
.vscode/*
!.vscode/extensions.json

# User-specific files
*.user
*.rsuser
*.suo

# NuGet/package artifacts
*.nupkg
packages/

# Frontend build and dependency output
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS files
.DS_Store

# Local environment/config files
*.local
.env
frontend/.env
backend/Intex.API/.env
backend/Intex.API/appsettings.Development.json


AssignmentInstructions.md
Claude.md
DatabaseKeys.md
Security.md

publish


